body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.facebook {
  background: url(./flaticons.jpg);
  width: 60px;
  height: 60px;
  background-position: -86px -124px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 60px;
  float: left;
}

.pinterest {
  background: url(flaticons.jpg);
  width: 60px;
  height: 60px;
  background-position: -380px -864px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 60px;
  float: left;
  margin-left: 10px;
}

.twitter {
  background: url(flaticons.jpg);
  width: 60px;
  height: 60px;
  background-position: -160px -644px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 60px;
  float: left;
  margin-left: 10px;
}

.footer-2 {
  background: #fff;
  padding: 5px 0 10px 0;

  border-top: #eee 1px solid;
}
.footer {
  background: #042f35;
  min-height: 100px;
  margin-top: 20px;
  border-top: #eee 1px solid;
  padding: 50px 0 10px 0;
}

.footer-menu {
  width: 40%;
  margin: 15px auto;
  color: white;
}

.footer-menu a {
  color: white;
  font-weight: bold;
  margin: 15px;
  font-size: 20px;
}
.footer-menu a:hover {
  color: white;
  font-weight: bold;
  margin: 15px;
  font-size: 20px;
  text-decoration: none;
}
